doctype html
html
  head
    title= `Amulet`
    link(rel='stylesheet', href='/adminFiles/main.css')
    link(rel="shortcut icon" type="image/png" href="/images/icons/doughnut.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block content

    block scripts
      script(src="/adminFiles/App.bundle.js")