{
  plugins: [
    "inline-react-svg",
    "styled-jsx/babel",
    ["module-resolver", { 
      "root": ["./site"], 
      "alias": {
        "styles": "./static/styles",
        "@site": "./site"
      }, 
      "cwd": "babelrc"}],
    ["wrap-in-js", {"extensions": ["css$", "scss$"]}]
  ],
  presets: [
    "next/babel", "es2015", "stage-0"
  ],
  ignore: [ ]
}