@import "~bulma";
@import "./helpers/basic.scss";
@import "./helpers/icons.scss";
@import "./helpers/modal.scss";
@import './header.scss';
@import './pages.scss';
@import './login.scss';



html,body {
    background-color: #F4F8F9; 
}

h1 {
    font-size: 36px;
    color: #D2DAE7;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

h2 {
    font-size: 25px;
    color: white;
    
}

p {
    font-size: 13px;
    color: white;
}

.section {
    padding: 1rem 1.5rem;
    background: transparent;
}

.block {
    padding: 2rem;
    border: 1px solid transparent;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgba(65,65,72,1) 0%,rgba(24,24,24,1) 100%);
}


.label {
    color: white;
    text-transform: uppercase;
}

.input {
    background-color: transparent;
    color: white;
    border-color: #7689B6;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 10px;

    &:hover {
        border-color: #7689B6;
    }

    &:active {
        border-color: #7689B6;
    }

    &:focus {
        border-color: #7689B6;
    }
}

.textarea {
    background-color: transparent;
    color: white;
    border-color: #7689B6;
    padding-left: 10px;



    &:hover {
        border-color: #7689B6;
    }

    &:active {
        border-color: #7689B6;
    }

    &:focus {
        border-color: #7689B6;
    }
}

.button {
    &--main {
        width: 125px;
        height: 40px;
        text-align: center;
        background: linear-gradient(to bottom right, #78FF83 30%, #22A7AD);
        display: block;
        color: white;
        padding-top: 7px;
        margin-top: 1rem;
        border-radius: 3px;
    }

    &--action {
        width: 125px;
        height: 40px;
        text-align: center;
        background: #7689B6;
        border: 1px solid #485675;
        display: block;
        color: white;
        cursor: pointer;
        border-radius: 3px;
    }

    &--danger {
        background-color: transparent;
        border: 0px;
        color: grey;
        font-size: 14px;
    }
}